

<h1>View1</h1>
	<div class="row">	
		<div class="col-md-8">
			<input type="text" ng-model="search.Name" class="form-control" /> 
		</div>
		<div class="col-md-2">	</div>
		<br />
	</div>
	<div class="row">
		<ul>
			<li ng-repeat="foo in testArray | filter: search.Name | orderBy: 'Age'">{{ foo.Name | uppercase }} - {{ foo.Age }}</li>
		</ul>
		<br />
		New Name: <input type="text" ng-model="newTestArray.Name" /> 
		<br />
		New Age: <input type="number" ng-model="newTestArray.Age" /> 
		<br /><button ng-click="addTestArray()" class="btn btn-primary" type="button">Add New</button>
	</div>

